<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <<th:block th:replace="base :: Meta">...</th:block>
    <title>Interview Form</title>
</head>
<body>
<th:block th:replace="base :: nav">...</th:block>

<form th:action="@{/processinterview}" th:object="${interview}" method="post">

    <input type="hidden" th:field="*{id}">

    When would you like to schedule your interview? <br/> <br/>
    <input type="datetime-local" th:field="*{dateEntry}">
        <span th:if="${#fields.hasErrors('endTime')}"
              th:errors="*{endTime}"></span>

    <input type="submit" value="Submit">

</form>


<th:block th:replace="base :: bootstrap">...</th:block>
</body>
</html>