<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: Meta">...</th:block>
    <title>process Job form</title>
    <!--script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d;
    </script-->

</head>
<body>

<th:block th:replace="base :: nav">...</th:block>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3"></div>
          <tr th:object="${job}">
              <!--users not allowed to update or delete-->
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>

            Company: <td th:text="${job.company}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            Title: <td th:text="${job.title}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            Salary: <td th:text="${job.salary}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            Job Type: <td th:text="${job.jobType}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            Description:  <td th:text="${job.description}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.keywords}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            Address: <td th:text="${job.address}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            Date Posted: <td th:text="${job.posteddate}"></td>
          </tr> </div></div></div>
            <br/><br/>
                  <!--when user clicks the apply button it renders to the resume form-->
                  <a type="button" class="apply button" th:href="@{/finalapply/{id}(id=${job.id})}">Apply now</a>
              <!--only Admin authorized here-->
              <th:block sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/update/{id}(id=${job.id})}">Update</a>
                <a th:href="@{/delete/{id}(id=${job.id})}">Delete</a>
              </th:block>



</th:block>
<th:block th:replace="base :: bootstrap">...</th:block>
</body>
</html>