<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: Meta">...</th:block>
    <title>process Job form</title>
    <!--script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d;
    </script-->

</head>
<body>

<th:block th:replace="base :: nav">...</th:block>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
          <tr th:each="job :${jobs}">
              <!--users not allowed to update or delete-->

              <th:block sec:authorize="isAuthenticated()">
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.company}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.title}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.salary}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.jobType}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.description}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.keywords}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.address}"></td>
              <div class="col-6 col-sm-3"></div>
              <div class="w-100"></div>
            <td th:text="${job.posteddate}"></td>
                  <!--when user clicks the apply button it renders to the resume form-->
                  <p><input type="button" class="apply button" th:action="@{/resumeform}">Apply now</p>
          </th:block>
              <!--only Admin authorized here-->
              <th:block sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/update/{id}(id=${job.id})}">Update</a>
                <a th:href="@{/delete/{id}(id=${job.id})}">Delete</a>
              </th:block>
          </tr> </div></div></div>


</th:block>
<th:block th:replace="base :: bootstrap">...</th:block>
</body>
</html>