<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: Meta">...</th:block>
    <title>Resume Form</title>

</head>
<body>
<th:block th:replace="base :: nav">...</th:block>


<form th:action="@{/processresume}" th:object="${resume}" method="post">

        <input type="hidden" th:field="*{id}" />
        <!--<input type="hidden" th:field="*{info}" th:value="${user.firstName + user.lastName + user.phone + user.email}"/>-->

    <input type="submit" value="Submit">



</form>





<th:block th:replace="base :: bootstrap">...</th:block>
</body>
</html>