<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Resume Selection</title>
</head>
<body>

<form th:action="@{/processselection}" th:object="*{user}" method="post">

    Select a Resume to make your active Resume:

    <select th:field="*{activeResume}">
        <option th:each="resume : ${resumes}"
                th:text="${resume.title}"
                th:value="${resume.id}">
        </option>

    </select>

    <input type="submit" value="submit">

</form>

</body>
</html>