<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: Meta">...</th:block>
    <title>Resume Form</title>

</head>
<body>
<th:block th:replace="base :: nav">...</th:block>


<form th:action="@{/processresume}" th:object="${resume}" method="post">


        <!--<div sec:authorize="hasAuthority('USER')">-->
            <!--<input type="hidden" th:field="*{user}" th:value="${user_id}">-->
        <!--</div>-->

        <input type="hidden" th:field="*{id}" />
       Education:
            Enter your Education background such as Schools and Degrees.<br/>
    <textarea rows="4" th:field="*{education}"/>
    <span th:if="${#fields.hasErrors('education')}"
          th:errors="*{education}"></span><br/><br/>

       Experience:
            Enter your work Experience<br/>
    <textarea rows="4" th:field="*{experience}"/>
    <span th:if="${#fields.hasErrors('experience')}"
          th:errors="*{experience}"></span><br/><br/>

        Skills:
            Enter your Technical Skills.<br/>
    <textarea rows="4" th:field="*{skills}"/>
    <span th:if="${#fields.hasErrors('skills')}"
          th:errors="*{skills}"></span><br/><br/>


    <input type="submit" value="Submit">


</form>

<th:block th:replace="base :: bootstrap">...</th:block>
</body>
</html>